{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'fontawesome/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <form action="" method="get" class="col-4 offset mt-4 ">
        <div class="input-group mb-3">
        <span class="input-group-text">Email</span>
        <input type="text" class="form-control" aria-label="Username">
        <span class="input-group-text">Objet</span>
        <input type="text" class="form-control" aria-label="Server">
      </div>
      
      <div class="input-group">
        <span class="input-group-text">Message</span>
        <textarea class="form-control" aria-label="With textarea"></textarea>
      </div>
    </form>
      
</body>
</html>
